/* DX FESIiVAL */
.dx-festival {
    display: flex;
    height: 47px;
    width: 252px;
    margin: -15px 0 10px 0;
    align-items: center;
    justify-content: end;
}
.dx-festival .content {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    text-align: center;
    color: rgb(255, 222, 68);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 7.3px;
    text-shadow: -2px -2px 0 #25152a, 0 -2px 0 #25152a, 2px -2px 0 #25152a, 2px 0 0 #25152a, 2px 2px 0 #25152a, 0 2px 0 #25152a, -2px 2px 0 #25152a, -2px 0 0 #25152a;
}
.dx-festival-rating-1 {
    background-image: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_01.png);
    background: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_01.png) no-repeat 25%/cover;
}
.dx-festival-rating-2 {
    background-image: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_02.png);
    background: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_02.png) no-repeat 25%/cover;
}
.dx-festival-rating-3 {
    background-image: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_03.png);
    background: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_03.png) no-repeat 25%/cover;
}
.dx-festival-rating-4 {
    background-image: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_04.png);
    background: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_04.png) no-repeat 25%/cover;
}
.dx-festival-rating-5 {
    background-image: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_05.png);
    background: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_05.png) no-repeat 25%/cover;
}
.dx-festival-rating-6 {
    background-image: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_06.png);
    background: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_06.png) no-repeat 25%/cover;
}
.dx-festival-rating-7 {
    background-image: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_07.png);
    background: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_07.png) no-repeat 25%/cover;
}
.dx-festival-rating-8 {
    background-image: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_08.png);
    background: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_08.png) no-repeat 25%/cover;
}
.dx-festival-rating-9 {
    background-image: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_09.png);
    background: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_09.png) no-repeat 25%/cover;
}
.dx-festival-rating-10 {
    background-image: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_10.png);
    background: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_10.png) no-repeat 25%/cover;
}
.dx-festival-rating-11 {
    background-image: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_11.png);
    background: url(../images/mai/DX_FESTiVAL/UI_CMN_DXRating_11.png) no-repeat 25%/cover;
}